/* Elements principaux de la page */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}



body {
	margin: 0;
}



/* header */

h1
{
	font-family: 
}


header {
	text-align: center;
}



.container{	
	width: 900px;
	margin: 0 auto;
}


#image
{
	height: 460px;
  	margin-top: -70px;
  	overflow: hidden;
  	padding: 0px;
  	width: 100;

}

.titre
{
	position: absolute;
	top: 160px;
}



/* barre de navigation */


nav ul {
	list-style-type: none;
	
	padding: 0;
	overflow: hidden;
		
}

 #mynavbar {
 	margin: 0;
	color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: #333;
}


#mynavbar a:hover {
	background-color: #555;
	color: red;
	text-decoration: underline;
}

.chef
{
	width: 600px;
	height: auto;
}




/* Pied de page */



footer
{
	background: rgb(26, 26, 26);
	color: white;
	border-top: 4px solid red;
	margin-top: 20px;
	padding-top: 20px;
}

#contact
{
	text-align: left;
	padding-top: 25px;
}

#Mentions_légales 
{
	text-align: center;
	padding-top: 25px;
}

/#nos_restaurants
{
	text-align: center;
	padding-top: 25px;
}

div a
{
	text-decoration: none;
	color: red;

}

.bouton
{
	color: black;
}


