/* Elements principaux de la page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	margin: 0;
}

/* header */
header {
	text-align: center;
}



.container {	
	width: 900px;
	margin: 0 auto;
}



/* barre de navigation */
.navbar {
  	position: relative;  
  	min-height: 50px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	
}	
.navbar-inverse {
	background-color: #f8f8f8;
  	border-color: #e7e7e7;
}

ul {
	list-style-type: none;
	
}
li div:hover{
	color:#fff;
	background:#F50C1C;
}

/* Formulaire */

