/* Elements principaux de la page */

/* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
*/

/* header */

header {
	text-align: center;
}


/* ne change rien a la structure
.container {	
	width: 900px;
	margin: 0 auto;
}
*/

#image
{
	height: 460px;
  	margin-top: -70px;
  	overflow: hidden;
  	padding: 0px;
  	width: 100;

}

.titre
{
	position: absolute;
	top: 160px;
}



/* barre de navigation */

.navbar {
  	position: relative;  
  	min-height: 50px;
  	margin-bottom: 20px;
  	border: 1px solid transparent;
  	
}	
.navbar-inverse {
	background-color: #f8f8f8;
  	border-color: #e7e7e7;
}

ul {
	list-style-type: none;
	
}
li div:hover{
	color:#fff;
	background:#F50C1C;
}

/*body */

section {
	margin-left: 185px;
	margin-right: 170px;
}

@media only screen and (max-width: 800px)
{
	section{
		margin-right: 15px;
		margin-left: 15px;
	}
}






/* Pied de page */



footer
{
	background: rgb(26, 26, 26);
	color: white;
	border-top: 4px solid red;
	margin-top: 20px;
	padding-top: 20px;

#Contact
{
	text-align: left;
	padding-top: 25px;
}

#Mentions_légales 
{
	text-align: center;
	padding-top: 25px;
}

#nos_restaurants
{
	text-align: center;
	padding-top: 25px;
}


#test
{
	max-height: 500px;
	width: auto;
}

/* Formulaire */

input {
	border: 2px solid red;
}
