/* Elements principaux de la page */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}



body {
	margin: 0;
}



/* header */

div h1 {

    font-family: 'Pacifico', cursive;
    font-size: 400%;
}
div h5 {

    font-family: 'Pacifico', cursive;
    font-size: 300%;
}

.titre h1
{
	padding-left: 80px;
}


header
{
	text-align: center;
}



.container{	
	width: 900px;
	margin: 0 auto;
}


#image
{
	height: 460px;
  	margin-top: -70px;
  	overflow: hidden;
  	padding: 0px;
  	top: 0;
  	left: 0;
  	right: 0;
  	background-image: url("https://s9.postimg.org/bh32tyigf/ratatouille01.jpg");
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center center;
}

.titre
{
	position: absolute;
	top: 160px;
}



/* barre de navigation */

#ct1 {
	padding-left: 0px;
	padding-right: 0px;
}

#mynavbar {
 	margin: 0;
	color: #f2f2f2;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: #333;
}



#mynavbar a:hover {
	background-color: #555;
	color: red;
	text-decoration: underline;
}

/* phto page qui sommes nous */

.chef
{
	max-width: 600px;
	height: auto;
}




/* Pied de page */



footer
{
	background: rgb(26, 26, 26);
	color: white;
	border-top: 4px solid red;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}

#contact ul
{
	text-align: left;
	padding-top: 25px;
	padding-left: 150px;
	list-style-type: none;
}

#Mentions_légales 
{
	text-align: center;
	padding-top: 25px;

}

/#nos_restaurants
{
	text-align: center;
	padding-top: 25px;
}

div a
{
	text-decoration: none;
	color: red;

}

.bouton
{
	color: black;
	margin-top: 25px;
}

/*horizontale rules*/

hr.style18 { 
  height: 30px;
  width: 80vw; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
  margin: 20px auto; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/* Carousel */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 3vw;
}

/* mention légales */

#fil ul {
	padding-left: 20px;
}

